<template>
  <div
    :style="{
      border: `1px solid ${$store.state.colors.darkWhite}`,
    }"
    class="button"
    @click="onClick"
  >
    <div v-if="loading || $data._loading">
      {{ loadingText || 'Loading...' }}
    </div>
    <div v-if="!loading && !$data._loading">
      {{ confirmTimer === null ? text : confirmText }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  name: 'Button',
  props: [
    'text',
    'loadingText',
    'clicked',
    'confirmed',
    'confirmText',
    'loading',
  ]
})
export default class Button extends Vue {
  lastClick: number = 0
  confirmTimer: any = null
  _loading = false

  async onClick(e: any) {
    e.stopPropagation()
    const now = +new Date()
    // Don't allow 2 clicks in 50 ms
    if (now - this.lastClick < 50) return
    this.lastClick = now
    if (this.$props.confirmed && !this.confirmTimer) {
      this.confirmTimer = setTimeout(() => {
        this.confirmTimer = null
      }, 1500)
      return
    }
    this.$data._loading = true
    try {
      if (this.$props.confirmed) {
        if (this.confirmTimer) {
          clearInterval(this.confirmTimer)
          this.confirmTimer = null
        }
        await this.$props.confirmed()
      } else {
        await this.$props.clicked()
      }
      this.$data._loading = false
    } catch (err) {
      this.$data._loading = false
      throw err
    }
  }
}
</script>

<style scoped>
.button {
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 4px;
  margin: 4px;
  line-height: 18px;
  height: 18px;
  min-width: 18px;
}
</style>
