<template>
  <div :style="{
    borderRadius: `${size || 16}px`,
    height: `${size || 16}px`,
    width: `${size || 16}px`,
    backgroundColor: valid ? $store.state.colors.green : $store.state.colors.red,
    ...(loading ? {
      backgroundColor: $store.state.colors.blue,
    } : {})
  }" />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  name: 'ColorCircle',
  props: [ 'size', 'valid', 'loading' ],
})
export default class ColorCircle extends Vue {

}
</script>

<style scoped>
</style>
