<template>
  <div :style="{
    position: 'fixed',
    width: '20vw',
    minWidth: '300px',
    height: '40vh',
    minHeight: '300px',
    left: '8px',
    bottom: '8px',
    display: 'flex'
  }">
    <div style="margin-bottom: 4px; width: 100%; display: flex; justify-content: space-between">
      <div v-if="!showingSave">
        Hold shift to save
      </div>
      <transition name="saving" v-on:before-enter="beforeEnter" v-on:after-enter="afterEnter">
        <div
          v-if="showingSave"
          :style="{
            height: '10px',
          }"
        >
        {{ releaseToSave ? 'Release to save' : '' }}
        {{ saveLoading ? 'Saving...' : '' }}
        <span v-if="saveError" :style="{ color: $store.state.colors.red }">
          {{ saveError }}
        </span>
        </div>
      </transition>
      <div :style="{
        color: $store.state.colors.red,
        cursor: 'pointer',
        fontWeight: 'bold',
        fontSize: '20px'
      }" v-on:click="close">
        X
      </div>
    </div>
    <TextInput
      ref="input"
      :autofocus="true"
      :onDrop="$props.onDrop"
      :onChange="$props.onChange"
      :value="$props.value"
      :style="{
        resize: 'none',
        overflow: 'scroll',
        position: 'absolute',
        top: '20px',
        width: '100%',
        height: '95%',
        left: '0px',
      }"
      :keydown="keydown"
      :keyup="keyup"
      :disableAutosize="true"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import TextInput from './TextInput'

@Component({
  name: 'EditPanel',
  components: { TextInput, },
  props: [ 'cancel', 'onSave', 'selection', 'value', 'onDrop', 'onChange'],
  watch: {
    selection: function (newVal, oldVal) {
      (this as any).changeSelection(newVal)
    }
  }
})
export default class EditPanel extends Vue {
  showingSave = false
  releaseToSave = false
  saveLoading = false
  saveError = ''

  changeSelection(text: string) {
    const textarea = (this.$refs.input as any).$el
    const startIndex = this.$props.value.indexOf(text)
    if (startIndex === -1) return
    textarea.setSelectionRange(startIndex, startIndex + text.length)
    textarea.focus()
  }

  close(e: any) {
    e.stopPropagation()
    this.$props.cancel()
  }

  beforeEnter() {
    this.releaseToSave = false
  }

  afterEnter() {
    this.releaseToSave = true
  }

  keydown(e: any) {
    if (e.key.toLowerCase() === 'escape') {
      this.$props.cancel()
    }
    if (e.key.toLowerCase() === 'shift') {
      this.showingSave = true
      this.saveError = ''
      return
    }
    if (this.showingSave && !this.saveLoading) {
      this.showingSave = false
      this.releaseToSave = false
    }
  }

  async keyup(e: any) {
    if (e.key.toLowerCase() === 'shift' && this.showingSave) {
      if (this.releaseToSave) {
        this.saveLoading = true
        this.releaseToSave = false
        try {
          await this.$props.onSave()
          this.saveLoading = false
          this.showingSave = false
        } catch (err) {
          this.saveLoading = false
          setTimeout(() => {
            if (this.saveError === '') return
            this.saveError = ''
            this.showingSave = false
          }, 3000)
          this.saveError = err.response.data.message
        }
      } else {
        this.showingSave = false
      }
    }
  }
}
</script>

<style scoped>

.saving-enter-active {
  transition: all 1s linear;
}

.saving-enter {
  width: 0px;
  background-color: red;
}

.saving-enter-to {
  width: 150px;
  background-color: green;
}

</style>
