<template>
  <div v-bind:style="{
    color: $store.state.colors.color,
    backgroundColor: $store.state.colors.headerBackground,
  }" ref="container" class="header">
    <div class="header-title" @click="titleClick">
      {{
        $router.currentRoute.path === '/' ?
          'Epoch Rumor' :
          ($store.state.history.length ? 'Back' : 'Home')
      }}
    </div>
    <div class="time">
      {{ this.time }}
    </div>
    <div v-if="$store.state.users.activeUser._id" class="right-side">
      <div
        @click="usernameClick"
        class="header-username"
        v-if="$store.state.users.token"
      >
        {{$store.state.users.activeUser.username}}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Button from './Button'
import { unixtime, everySecond, clearEverySecond, currentColor } from '../logic/colors'

@Component({
  name: 'Header',
  components: {
    Button,
  }
})
export default class Header extends Vue {
  time = unixtime()
  timer: any = null

  async mounted() {
    const { container } = this.$refs as any
    container.style.borderBottom = `1px solid ${currentColor()}`
    this.timer = everySecond(() => {
      this.time = unixtime()
      container.style.borderBottom = `1px solid ${currentColor()}`
    })
  }

  usernameClick() {
    const newPath = `/${this.$store.state.users.activeUser.username}`
    if (this.$router.currentRoute.path === newPath) return
    this.$router.push({ path: newPath })
  }

  beforeDestroy() {
    clearEverySecond(this.timer)
  }

  titleClick() {
    this.$store.commit('popHistory') as any
    const { nextPath } = this.$store.state
    if (this.$router.currentRoute.path === nextPath) return
    this.$router.push({ path: nextPath })
  }
}
</script>

<style scoped>
.header {
  margin-bottom: 8px;
  /* width: 100%; */
  min-height: 40px;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  transition: border 1s;
  flex-wrap: wrap;
  padding: 4px;
  padding-left: 10vw;
  padding-right: 10vw;
}
.header-title {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
}
.time {
  font-size: 25px;
  min-width: 120px;
  text-align: center;
  margin: 4px;
}
.header-username {
  font-weight: 600;
  cursor: pointer;
}
.right-side {
  min-width: 180px;
  text-align: center;
}
</style>
