<template>
  <div v-bind:style="{
    backgroundColor: $store.state.colors.noteBackground,
    border: $store.state.colors.noteBorder,
  }" class="home-cell">
    <div class="title">
      Hello, it's {{ today }}!
    </div>
    <div v-if="!!$store.state.users.token">
      <div
        @click="writeClick"
        class="big-button"
        v-bind:style="{
          backgroundColor: $store.state.colors.green,
          color: $store.state.colors.darkGray,
          border: `1px solid ${$store.state.colors.lightWhite}`,
        }"
      >
        Write
      </div>
      <div
        @click="accountClick"
        class="big-button"
        v-bind:style="{
          backgroundColor: $store.state.colors.blue,
          color: $store.state.colors.darkGray,
          border: `1px solid ${$store.state.colors.lightWhite}`,
        }"
      >
        Account
      </div>
      <div
        @click="draftsClick"
        class="big-button"
        v-bind:style="{
          backgroundColor: $store.state.colors.purple,
          color: $store.state.colors.darkGray,
          border: `1px solid ${$store.state.colors.lightWhite}`,
        }"
      >
        Drafts
      </div>
    </div>
    <div v-if="!$store.state.users.token">
      <div
        @click="() => (showingSignupModal = true)"
        class="big-button"
        v-bind:style="{
          backgroundColor: $store.state.colors.green,
          color: $store.state.colors.darkGray,
          border: `1px solid ${$store.state.colors.lightWhite}`
        }"
        >
        Sign Up
      </div>
      <div
        @click="() => (showingLoginModal = true)"
        class="big-button"
        v-bind:style="{
          backgroundColor: $store.state.colors.blue,
          color: $store.state.colors.darkGray,
          border: `1px solid ${$store.state.colors.lightWhite}`
        }"
      >
        Login
      </div>
    </div>
    <LoginModal
      v-if="showingLoginModal"
      :cancel="() => (showingLoginModal = false)"
      :onLogin="() => (showingLoginModal = false)"
    />
    <SignUpModal
      v-if="showingSignupModal"
      :cancel="() => (showingSignupModal = false)"
      :onLogin="() => (showingSignupModal = false)"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import moment from 'moment'
import Popup from './Popup'
import Button from './Button'
import SignUpModal from './SignUpModal'
import LoginModal from './LoginModal'

@Component({
  name: 'HomeCell',
  components: {
    Popup,
    Button,
    SignUpModal,
    LoginModal,
  },
})
export default class HomeCell extends Vue {
  today = moment().format('dddd')
  showingSignupModal = false
  showingLoginModal = false

  async mounted() {
  }

  writeClick() {
    this.$router.push({ path: '/new'})
  }

  accountClick() {
    this.$router.push({ path: '/account' })
  }

  draftsClick() {
    this.$router.push({ path: '/drafts'})
  }
}
</script>

<style scoped>
.title {
  padding: 8px;
  text-align: center;
  font-size: 28px;
}
.big-button {
  font-size: 20px;
  min-width: 20%;
  min-height: 20px;
  padding: 8px;
  text-align: center;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}
.home-cell {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 4px;
  width: 300px;
  background-color: rgba(220, 190, 0, 0.6);
  border-radius: 4px;
  overflow: hidden;
}
</style>
