<template>
  <div
    v-show="loading"
    ref="loading"
    style="font-size: 20px; transition: color 1s;"
  >
    Loading...
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { currentColor, everySecond, clearEverySecond } from '../logic/colors'

@Component({
  name: 'LoadingIndicator',
  props: [ 'loading' ]
})
export default class LoadingIndicator extends Vue {
  loadingTimer: string

  mounted() {
    const updateColor = () => {
      ;(this.$refs.loading as any).style.color = currentColor()
    }
    updateColor()
    this.loadingTimer = everySecond(updateColor)
  }
  beforeDestroy() {
    clearEverySecond(this.loadingTimer)
  }
}
</script>

<style scoped>
</style>
