<template>
  <div class="popup-root">
    <div class="popup">
      <input ref="username" class="text-input" type="text" placeholder="username" />
      <input ref="password" class="text-input" type="password" placeholder="password" />
      <button @click="login">Login</button>
      <button @click="signup">Signup</button>
      <button @click="cancel">Cancel</button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  name: 'Login',
  props: [
    'onLogin',
    'onCancel'
  ]
})
export default class Login extends Vue {
  mounted() {
    (this.$refs.username as any).focus()
  }

  async login() {
    try {
      await this.$store.dispatch('login', {
        username: (this.$refs.username as any).value,
        password: (this.$refs.password as any).value,
      })
      this.$props.onLogin()
    } catch (err) {
      alert('Failed to login: ' + err.toString())
    }
  }

  async signup() {
    try {
      await this.$store.dispatch('createUser', {
        username: (this.$refs.username as any).value,
        password: (this.$refs.password as any).value,
      })
      this.$props.onLogin()
    } catch (err) {
      alert('Failed to signup: ' + err.toString())
    }
  }

  cancel() {
    this.$props.onCancel()
  }
}
</script>

<style scoped>
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid black;
}
.popup-root {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.text-input {
  margin: 4px;
}
</style>
