<template>
  <Popup :cancel="cancel">
    <h2>
      Sign In
    </h2>
    <div :style="{
      color: $store.state.colors.red,
    }">
      {{ error }}
    </div>
    <TextField
      :autofocus="true"
      placeholder="username"
      :onChange="(e) => (username = e.target.value)"
      :value="username"
      :onEnter="login"
    />
    <TextField
      placeholder="password"
      type="password"
      :onChange="(e) => (password = e.target.value)"
      :value="password"
      :onEnter="login"
    />
    <div style="display: flex; justify-content: space-around">
      <Button
        text="Cancel"
        :clicked="cancel"
        :style="{
          backgroundColor: $store.state.colors.red,
          color: $store.state.colors.lightWhite,
        }"
      />
      <Button
        text="Login"
        :clicked="login"
        :style="{
          backgroundColor: $store.state.colors.green,
          color: $store.state.colors.darkGray,
        }"
        :loading="loading"
      />
    </div>
  </Popup>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Popup from './Popup'
import Button from './Button'
import TextField from './TextField'

@Component({
  name: 'LoginModal',
  components: { Popup, Button, TextField },
  props: [ 'cancel', 'onLogin' ],
})
export default class LoginModal extends Vue {
  username = ''
  password = ''
  error = ''
  loading = false

  async login() {
    try {
      const { username, password } = this
      this.loading = true
      await this.$store.dispatch('login', {
        username,
        password,
      })
      this.$props.onLogin()
      this.loading = false
    } catch (err) {
      this.loading = false
      const { response } = err
      if (!response) {
        this.error = 'Unknown error'
        return
      }
      this.error = response.data.message
    }
  }
}
</script>

<style scoped>
</style>
