<template>
  <div v-bind:style="{
    backgroundColor: $store.state.colors.noteBackground,
    border: $store.state.colors.noteBorder,
  }" class="note-cell">
    <NoteDetails v-bind:noteId="$props.note._id" v-bind:_note="$props.note" />
    <div style="display: flex; align-items: center">
      <div style="display: flex; align-items: center; padding-top: 8px">
        <select :value="$store.state.users.preferences.fontFamily" v-on:change="fontUpdate">
          <option value="helvetica">Helvetica</option>
          <option value="garamond">Garamond</option>
        </select>
        <div style="width: 8px" />
        <select :value="renderType" v-on:change="renderUpdate">
          <option value="rendered">Rendered</option>
          <option value="source">Source</option>
        </select>
      </div>
      <div style="display: flex; flex: 1" />
      <div
        style="display: flex"
      >
        <Button
          text="History"
          v-bind:clicked="showHistory"
          :style="{
            color: $store.state.colors.gray,
            backgroundColor: $store.state.colors.blue,
          }"
        />
        <Button
          text="Edit"
          v-bind:clicked="editNote"
          :style="{
            color: $store.state.colors.gray,
            backgroundColor: $store.state.colors.green,
            marginLeft: '0px',
            marginRight: '0px',
          }"
          v-if="note._id && note.ownerId === $store.state.users.activeUser._id"
        />
        <Button
          text="Delete"
          confirmText="Are you sure?"
          v-bind:confirmed="deleteNote"
          :style="{
            color: $store.state.colors.lightWhite,
            backgroundColor: $store.state.colors.red,
          }"
          v-if="note._id && note.ownerId === $store.state.users.activeUser._id"
        />
      </div>
    </div>
    <div style="height: 4px" />
    <div
      ref="noteEl"
      class="markdown"
      v-on:mouseup="createEditor"
      v-bind:style="{
        fontFamily: $store.state.users.preferences.fontFamily,
      }"
      v-html="showingEditor ? $store.state.notes.editingNote.renderedText : note.renderedText"
      v-show="renderType === 'rendered'"
    />
    <div v-if="renderType === 'source'">
      <TextInput
        v-bind:style="{
          maxWidth: '750px',
          width: '80vw',
          minWidth: '300px',
        }"
        :onChange="textChanged"
        :value=" $store.state.notes.editingNote.text"
      />
    </div>
    <EditPanel
      :style="{}"
      :value="$store.state.notes.editingNote.text"
      :selection="selectedText"
      :onChange="onChange"
      :onSave="onSave"
      :cancel="onCancel"
      v-if="showingEditor"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import axios from 'axios'
import NoteDetails from './NoteDetails'
import TextInput from './TextInput'
import Button from './Button'
import { currentColor, everySecond, clearEverySecond } from '../logic/colors'
import EditPanel from './EditPanel'

@Component({
  name: 'NoteCell',
  props: [
    'note',
    'disableEditor',
    'onLoaded',
  ],
  components: {
    NoteDetails,
    TextInput,
    Button,
    EditPanel,
  },
})
export default class NoteCell extends Vue {
  viewTimer: any = null
  note: any
  renderType = 'rendered'
  selectedText = ''
  showingEditor = false

  showHistory() {
    // List of revisions
    this.$router.push({ path: `/notes/${this.note.index}/history` })
  }

  textChanged(e: any) {
    this.$store.commit('editNote', {
      text: e.target.value,
    })
  }

  renderUpdate(e: any) {
    this.renderType = e.target.value
    if (this.renderType === 'source') {
      this.$store.commit('editNote', this.$props.note)
    }
  }

  fontUpdate(e: any) {
    this.$store.commit('setFont', e.target.value)
  }

  createEditor(e: any) {
    if (this.$props.disableEditor) return
    const selection = window.getSelection()
    if (!selection) return
    const selectionText = selection.toString()
    if (!selectionText) return
    this.$store.commit('editNote', this.$props.note)
    this.showingEditor = true
    Vue.nextTick(() => {
      this.selectedText = selectionText
    })
  }

  onChange(e: any) {
    this.$store.commit('editNote', {
      text: e.target.value,
    })
  }

  async onCancel() {
    this.showingEditor = false
  }

  async onSave() {
    await this.$store.dispatch('updateNote')
    this.showingEditor = false
  }

  async mounted() {
    this.viewPing()
    this.viewTimer = setInterval(this.viewPing, 2500)
  }

  async viewPing() {
    if (!this.$store.state.focused) return
    const { note } = this.$props
    this.$store.commit('logView', {
      noteId: note._id,
      createdAt: new Date(),
      viewportWidth: window.innerWidth,
      viewportHeight: window.innerHeight,
      screenWidth: window.screen.width,
      screenHeight: window.screen.height,
      clientWidth: document.body.clientWidth,
      clientHeight: document.body.clientHeight,
      noteWidth: (this.$refs.noteEl as any).clientWidth,
      noteHeight: (this.$refs.noteEl as any).clientHeight,
      scrollOffset: window.pageYOffset,
    })
    if (this.$store.state.reading.sessionViews.length > 30) {
      await this.$store.dispatch('uploadViews')
    }
  }

  beforeDestroy() {
    this.$store.dispatch('uploadViews')
    clearInterval(this.viewTimer)
    this.viewTimer = null
  }

  async deleteNote() {
    try {
      const { index } = this.note
      await this.$store.dispatch('deleteNote', {
        _id: this.note._id,
      })
      if (
        this.$router.currentRoute.path.indexOf(`/notes/${index || ''}`) === 0 ||
        this.$router.currentRoute.path.indexOf(`/edit/${index || ''}`) === 0
      ) {
        this.$router.push({ path: '/' })
      }
    } catch (err) {
      alert(`Failed to delete: ${err.toString()}`)
    }
  }

  editNote() {
    this.$router.push({ path: `/edit/${this.note.index}` })
  }
}
</script>

<style scoped>
.note-cell {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 4px;
  max-width: 80vw;
  min-width: 300px;
  text-align: left;
  border-radius: 4px;
  word-wrap: break-word;
  overflow-x: scroll;
}
.markdown {
  word-wrap: break-word;
  max-width: 750px;
  padding-left: 8px;
  padding-right: 8px;
}
</style>
