<template>
  <div>
    <div class="container" style="flex-direction: row;">
      <div style="display: flex; align-items: center">
        <div v-bind:style="{
          fontSize: '20px',
          color: $store.state.colors.blue,
        }">
          #{{note.index}}
        </div>
        <div style="width: 4px" />
        <div v-if="note.isUnmonetized">
          <img
            title="This note is not monetized"
            :src="`/${require('../../static/unmonetized.png')}`"
            style="height: 20px; width: 20px"
          />
        </div>
        <div v-if="note.isDraft" :style="{
          paddingLeft: '4px',
          fontSize: '18px',
          color: $store.state.colors.darkRed,
        }">
          draft
        </div>
      </div>
      <div style="display: flex; align-items: center">
        <div v-if="false" @click="followUser" class="button" v-bind:style="{
          backgroundColor: $store.state.colors.blue,
          color: $store.state.colors.gray,
          fontSize: '22px',
          border: `1px solid ${$store.state.colors.blue}`,
        }">
          +
        </div>
        <div
          v-bind:style="{
            fontSize: '20px',
            color: $store.state.colors.green,
            cursor: 'pointer',
          }"
          @click="showUser"
        >
          {{($store.state.users.usersById[note.ownerId] || {}).username}}
        </div>
      </div>
    </div>
    <div class="container" v-bind:style="{
      borderTop: `1px solid ${$store.state.colors.darkWhite}`,
      borderBottom: `1px solid ${$store.state.colors.darkWhite}`,
    }" style="flex-direction: row;">
      <div style="display: flex; flex-direction: column; justify-content: space-between">
        <div style="margin-bottom: 4px">
          {{note.readCount || 0}} read{{note.readCount === 1 ? '' : 's'}}
        </div>
        <div>
          {{readingTime}}
        </div>
      </div>
      <div style="min-width: 20px" />
      <div style="display: flex; flex-direction: column; justify-content: space-between">
        <div style="margin-bottom: 4px; text-align: right">
          <span :title="note.createdAt && note.createdAt.toString()">{{publishedTime}}</span>
        </div>
        <div style="text-align: right">
          <span title="Revision">{{note.patchCount}} revision{{ note.patchCount === 1 ? '' : 's' }}</span>
        </div>
      </div>
    </div>
    <div style="height: 4px" />
    <UserModal
      v-if="showingUserModal"
      :cancel="() => (showingUserModal = false)"
      :user="$store.state.users.usersById[note.ownerId]"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Button from './Button'
import moment from 'moment'
import UserModal from './UserModal'
import { currentColor, everySecond, clearEverySecond } from '../logic/colors'

@Component({
  name: 'NoteDetails',
  components: {
    Button,
    UserModal,
  },
  props: [
    'noteId',
    '_note',
  ],
  computed: {
    note: function () {
      const { noteId, _note } = this.$props
      if (!noteId) return _note || {}
      const { notesById } = this.$store.state.notes
      return notesById[noteId] || {
        _id: noteId,
        createdAt: new Date(),
        updatedAt: new Date(),
      }
    },
    publishedTime: function (this: any) {
      return moment(this.note.createdAt).fromNow()
    },
    editedTime: function (this: any) {
      return moment(this.note.updatedAt).fromNow()
    },
    readingTime: function (this: any) {
      const { text } = this.note
      if (!text) return ''
      const seconds = Math.floor(text.length / 30)
      if (seconds < 60) {
        return `${seconds} second${seconds === 1 ? '' : 's'}`
      } else {
        const minutes = Math.ceil(seconds / 60)
        return `${minutes} minute${minutes === 1 ? '' : 's'}`
      }
    }
  }
})
export default class NoteDetails extends Vue {
  note: any
  showingUserModal = false

  showUser(e: any) {
    e.stopPropagation()
    try {
      const user = this.$store.state.users.usersById[this.note.ownerId]
      this.$router.push({ path: `/${user.username}`})
    } catch(err) {
      console.log(err)
    }
  }

  async followUser() {
    await this.$store.dispatch('follow', {
      _id: this.note.ownerId,
    })
  }

  async deleteNote() {
    try {
      const { index } = this.note
      await this.$store.dispatch('deleteNote', {
        _id: this.note._id,
      })
      if (
        this.$router.currentRoute.path.indexOf(`/notes/${index || ''}`) === 0 ||
        this.$router.currentRoute.path.indexOf(`/edit/${index || ''}`) === 0
      ) {
        this.$router.push({ path: '/' })
      }
    } catch (err) {
      alert(`Failed to delete: ${err.toString()}`)
    }
  }

  editNote() {
    this.$router.push({ path: `/edit/${this.note.index}` })
  }
}
</script>

<style scoped>
</style>
