<template>
  <div class="edit-draft-cell container" v-bind:style="{
    backgroundColor: $store.state.colors.lightGray,
  }">
    <div style="display: flex; justify-content: center;">
      <div style="display: flex; flex-direction: column; flex-wrap: wrap">
        <div class="text-wrapper" :style="{
          backgroundColor: $store.state.colors.gray,
          border: `1px solid ${$store.state.colors.darkWhite}`,
        }">
          <h2 style="padding-left: 8px">Edit Preview</h2>
          <TextInput
            style="resize: none"
            placeholder="description, 50-300 characters, markdown supported"
            :onChange="descriptionChanged"
            :onDrop="onDescriptionDrop"
            :value="$props.note.description"
          />
        </div>
        <div class="text-wrapper" :style="{
          backgroundColor: $store.state.colors.gray,
          border: `1px solid ${$store.state.colors.darkWhite}`,
        }">
          <h2 style="padding-left: 8px">Edit Text</h2>
          <TextInput
            autofocus
            style="resize: none"
            placeholder = '# title here'
            :onChange="textChanged"
            :onDrop="onTextDrop"
            :value="$props.note.text"
          />
        </div>
      </div>
      <div style="display: flex; flex-direction: column; min-width: 400px">
        <div style="">
          <NotePreviewCell v-bind:note="$props.note" />
        </div>
        <div style="">
          <NoteCell :disableEditor="true" style="" v-bind:note="$props.note" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import NoteCell from './NoteCell'
import NotePreviewCell from './NotePreviewCell'
import TextInput from './TextInput'

@Component({
  name: 'NoteEditor',
  components: {
    NoteCell,
    NotePreviewCell,
    TextInput,
  },
  props: [
    'note',
    'textChanged',
    'descriptionChanged',
  ],
})
export default class NoteEditor extends Vue {
  async onDescriptionDrop(e: { img: string, inputIndex: number }) {
    const description = this.$props.note.description || ''
    const { img, inputIndex } = e
    this.$props.descriptionChanged({
      target: {
        value: `${description.slice(0, inputIndex)} ${img} ${description.slice(inputIndex)}`
      }
    })
  }

  async onTextDrop(e: { img: string, inputIndex: number }) {
    const text = this.$props.note.text || ''
    const { img, inputIndex } = e
    this.$props.textChanged({
      target: {
        value: `${text.slice(0, inputIndex)} ${img} ${text.slice(inputIndex)}`
      }
    })
  }
}
</script>

<style scoped>
.text-wrapper {
  margin: 8px;
  padding: 8px;
  min-width: 300px;
  width: 30vw;
  border-radius: 4px;
}
.editor {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.edit-draft-cell {
  display: flex;
  margin: 0px;
  padding: 8px;
  max-width: 90vw;
  min-width: 25vw;
  text-align: left;
  border-radius: 4px;
  justify-content: space-between;
}
</style>
