<template>
  <div v-bind:style="{
    backgroundColor: $store.state.colors.noteBackground,
    border: $store.state.colors.noteBorder,
  }" class="note-preview-cell">
    <NoteDetails :_note="note" />
    <div @click="noteClicked" class="markdown" v-html="note.renderedDescription" />
    <div
      v-on:mouseenter="showReactions"
      v-on:mouseleave="hideReactions"
      style="display: flex; align-items: center; justify-content: center"
    >
      <Tag
        v-for="reaction of (note.reactions || [])"
        :reaction="reaction"
      />
      <ReactionPopup
        :noteId="note._id"
        v-if="showingReactions"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import NoteDetails from './NoteDetails'
import Tag from './Tag'
import ReactionPopup from './ReactionPopup'

@Component({
  name: 'NotePreviewCell',
  components: {
    NoteDetails,
    Tag,
    ReactionPopup,
  },
  props: [
    'note',
  ],
})
export default class NotePreviewCell extends Vue {
  note: any
  showingReactions = false

  noteClicked() {
    this.$router.push({ path: `/notes/${this.note.index}` })
  }

  showReactions() {
    this.showingReactions = true
  }

  hideReactions() {
    this.showingReactions = false
  }
}
</script>

<style scoped>
.note-preview-cell {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 4px;
  max-width: 300px;
  min-width: 50px;
  text-align: left;
  border-radius: 4px;
  word-wrap: break-word;
  cursor: pointer;
  overflow: hidden;
}
.markdown {
  word-wrap: break-word;
  max-width: 300px;
  min-height: 20px;
  max-height: 400px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 4px;
  overflow: hidden;
}
</style>
