<template>
  <div class="wrapper" @click="backgroundClick">
    <div class="popup" @click="foregroundClick" :style="{
      backgroundColor: $store.state.colors.darkGray,
      border: `1px solid ${$store.state.colors.white}`,
    }">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  name: 'Popup',
  props: ['cancel'],
})
export default class Popup extends Vue {
  foregroundClick(e: any) {
    e.stopPropagation()
  }

  backgroundClick() {
    if (!this.$props.cancel) return
    this.$props.cancel()
  }
}
</script>

<style scoped>
.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
  max-width: 450px;
  min-width: 300px;
}
.wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 10;
}
</style>
