<template>
  <div class="cell" :style="{
    backgroundColor: $store.state.colors.noteBackground,
    border: $store.state.colors.noteBorder,
  }">
  <h3>
    Leave a reaction!
  </h3>
  <div style="display: flex; align-items: center">
    <TextField
      :onChange="reactionChanged"
      :value="reaction"
      placeholder="👋"
    />
    <ColorCircle
      style="margin: 4px"
      :valid="reactionValid"
      :loading="reactionValidLoading"
    />
    <div
      :style="{
        padding: '4px',
        border: `1px solid ${$store.state.colors.darkWhite}`,
        backgroundColor: $store.state.colors.darkGray,
        borderRadius: '4px'
      }"
    >
      {{ existingCount }}
    </div>
  </div>
    <Button
      text="Save"
      :clicked="saveReaction"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import TextField from './TextField'
import Button from './Button'
import ColorCircle from './ColorCircle'
import axios from 'axios'

@Component({
  name: 'ReactionCell',
  components: { TextField, Button, ColorCircle },
  props: [ 'noteId' ],
})
export default class ReactionCell extends Vue {
  reaction = ''
  reactionValid = false
  reactionValidLoading = false
  existingCount = 0

  async reactionChanged(e: any) {
    this.reaction = e.target.value
    this.existingCount = 0
    if (!this.reaction) {
      this.reactionValid = false
      return
    }
    const copy = e.target.value.slice(0)
    this.reactionValidLoading = true
    if (copy !== this.reaction) return
    const { data } = await axios.post(`/notes/${this.$props.noteId}/reaction/validate`, {
      token: this.$store.state.users.token,
      reaction: this.reaction,
    })
    this.reactionValid = data.reactionValid
    this.existingCount = data.existingCount + 1
    this.reactionValidLoading = false
  }

  async saveReaction() {
    try {
      await axios.post(`/notes/${this.$props.noteId}/reaction`, {
        reaction: this.reaction,
        token: this.$store.state.users.token,
      })
      await this.$store.dispatch('loadNote', this.$props.noteId)
    } catch (err) {
      console.log(err)
    }
  }
}
</script>

<style scoped>
.cell {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 4px;
  width: 300px;
  background-color: rgba(220, 190, 0, 0.6);
  border-radius: 4px;
  overflow: hidden;
}
</style>
