<template>
  <div ref="container" :style="{
    position: 'absolute',
    zIndex: '100',
  }">
    <div :style="{
      margin: '4px',
      backgroundColor: $store.state.colors.darkGray,
      border: `1px solid ${$store.state.colors.darkWhite}`,
      padding: '4px',
      display: 'flex',
      flexDirection: 'column',
      alignItems: 'center',
    }">
      <div style="margin: 4px">
        Note Reactions
      </div>
      <div style="display: flex; align-items: center; justify-content: space-around; margin: 4px">
        <Tag
          v-for="reaction of (note.reactions || [])"
          :reaction="reaction"
          :showCount="true"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Tag from './Tag'

@Component({
  name: 'ReactionPopup',
  components: { Tag, },
  props: [ 'noteId' ],
})
export default class ReactionPopup extends Vue {
  get note() {
    return this.$store.state.notes.notesById[this.$props.noteId] || {}
  }
}
</script>

<style scoped>
</style>
