<template>
  <Popup :cancel="cancel">
    <h2>
      Sign Up
    </h2>
    <div :style="{
      color: $store.state.colors.red,
    }">
      {{ error}}
    </div>
    <div style="display: flex; align-items: center">
      <TextField
        :autofocus="true"
        placeholder="username"
        :onChange="usernameChanged"
        :value="username"
      />
      <ColorCircle :valid="usernameValid" :loading="usernameLoading" size="15" />
    </div>
    <div style="display: flex; align-items: center">
      <TextField
        placeholder="email"
        :onChange="emailChanged"
        :value="email"
      />
      <ColorCircle :valid="emailValid" :loading="emailLoading" size="15" />
    </div>
    <div style="display: flex; align-items: center">
      <TextField
        placeholder="password"
        type="password"
        :onChange="passwordChanged"
        :value="password"
      />
      <ColorCircle :valid="passwordValid" :loading="passwordLoading" size="15" />
    </div>
    <div style="display: flex; align-items: center">
      <TextField
        placeholder="confirm password"
        type="password"
        :onChange="passwordConfirmChanged"
        :value="passwordConfirm"
        :onEnter="signup"
      />
      <ColorCircle :valid="passwordConfirmValid" size="15" />
    </div>
    <div style="display: flex">
      <Button
        text="Cancel"
        :clicked="cancel"
        :style="{
          backgroundColor: $store.state.colors.red,
          color: $store.state.colors.lightWhite
        }"
      />
      <Button
        text="Sign Up"
        :clicked="signup"
        :style="{
          backgroundColor: $store.state.colors.green,
          color: $store.state.colors.darkGray,
        }"
        :loading="loading"
      />
    </div>
  </Popup>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Popup from './Popup'
import TextField from './TextField'
import Button from './Button'
import ColorCircle from './ColorCircle'
import axios from 'axios'

@Component({
  name: 'SignUpModal',
  components: { Popup, Button, TextField, ColorCircle },
  props: [ 'onLogin', 'cancel' ],
})
export default class SignUpModal extends Vue {
  username = ''
  password = ''
  passwordConfirm = ''
  email = ''
  error = ''
  usernameValid = false
  usernameLoading = false
  emailValid = false
  emailLoading = false
  passwordValid = false
  passwordLoading = false
  passwordConfirmValid = false

  loading = false

  async signup() {
    try {
      if (this.password !== this.passwordConfirm) {
        this.error = 'Passwords do not match'
        return
      }
      this.loading = true
      const { username, email, password } = this
      await this.$store.dispatch('createUser', {
        username,
        email,
        password,
      })
      this.$props.onLogin()
      this.loading = false
    } catch (err) {
      this.loading = false
      const { response } = err
      if (!response) {
        this.error = 'Unknown error'
        return
      }
      this.error = response.data.message
    }
  }

  async usernameChanged(e: any) {
    this.username = e.target.value
    if (!this.username) {
      this.usernameValid = false
      this.usernameLoading = false
      return
    }
    const copy = e.target.value.slice(0)
    this.usernameLoading = true
    await new Promise(r => setTimeout(r, 500))
    if (copy !== this.username) return
    await this.validate()
    this.usernameLoading = false
  }

  async emailChanged(e: any) {
    this.email = e.target.value
    if (!this.email) {
      this.emailValid = false
      this.emailLoading = false
      return
    }
    const copy = e.target.value.slice(0)
    this.emailLoading = true
    await new Promise(r => setTimeout(r, 500))
    if (copy !== this.email) return
    await this.validate()
    this.emailLoading = false
  }

  async passwordChanged(e: any) {
    this.password = e.target.value
    if (!this.password) {
      this.passwordValid = false
      this.passwordLoading = false
      return
    }
    const copy = e.target.value.slice(0)
    this.passwordLoading = true
    await new Promise(r => setTimeout(r, 500))
    if (copy !== this.password) return
    await this.validate()
    this.passwordLoading = false
  }

  async passwordConfirmChanged(e: any) {
    this.passwordConfirm = e.target.value
    this.passwordConfirmValid = !!this.password && this.password === this.passwordConfirm
  }

  async validate() {
    const { username, password, email } = this
    try {
      const { data } = await axios.post('/users/validate', {
        username,
        password,
        email,
      })
      if (username === this.username) {
        this.usernameValid = data.username
      }
      if (password === this.password) {
        this.passwordValid = data.password
        this.passwordConfirmValid = !!password && password === this.passwordConfirm
      }
      if (email === this.email) {
        this.emailValid = data.email
      }
    } catch (err) {
    }
  }
}
</script>

<style scoped>
</style>
