<template>
  <Popup :cancel="cancel">
    <h2>
      Subscription
    </h2>
    <p>
      Expires {{ dateString($store.state.users.subscription.expiresAt) }}
    </p>
  </Popup>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Popup from './Popup'
import moment from 'moment'

@Component({
  name: 'SubscriptionModal',
  props: [ 'cancel' ],
  components: { Popup, },
})
export default class SubscriptionModal extends Vue {
  dateString(d: Date) {
    return moment(d).fromNow()
  }
}
</script>

<style scoped>
</style>
