<template>
  <Popup :cancel="cancel">
    <div style="display: flex: flex-direction: column">
      <div v-bind:style="{
        textAlign: 'center',
        fontSize: '22px',
        fontWeight: 'bold',
      }">
        Subscribe
      </div>
      <p>
        Subscribing lets you post and read without limit. Your payment will be directly shared among the authors you read.
      </p>
      <p>
        You subscription will cost $4 ({{ displayPrice }} Ether).
      </p>
      <p>
        Press subscribe to confirm.
      </p>
      <p v-if="error" :style="{
        color: $store.state.colors.red
      }">
        {{ error }}
      </p>
      <div style="display: flex; justify-content: center">
        <Button
          text="Cancel"
          v-bind:clicked="cancel"
          v-bind:style="{
            backgroundColor: $store.state.colors.blue,
            color: $store.state.colors.darkGray,
          }"
        />
        <Button
          text="Subscribe"
          confirmText="Are you sure?"
          v-bind:confirmed="subscribe"
          v-bind:style="{
            backgroundColor: $store.state.colors.green,
            color: $store.state.colors.darkGray,
          }"
        />
      </div>
    </div>
  </Popup>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Popup from './Popup'
import Button from './Button'

@Component({
  name: 'SubscribeModal',
  props: ['cancel' ],
  components: { Popup, Button },
})
export default class SubscribeModal extends Vue {
  error = ''
  timer: any

  get displayPrice() {
    const { ethPrice } = this.$store.state.users.subscriptionOffer
    const price = Math.ceil(ethPrice * 1e4) / 1e4
    return price.toFixed(4)
  }

  async subscribe() {
    try {
      if (this.timer) {
        clearInterval(this.timer)
        this.timer = undefined
      }
      await this.$store.dispatch('subscribe')
      await this.$store.dispatch('loadTransactions')
      ;(this.$props.cancel || (() => {}))()
    } catch (err) {
      this.error = err.response.data.message || 'Unknown error'
      this.timer = setTimeout(() => {
        this.error = ''
      }, 4000)
    }
  }

  beforeDestroy() {
    if (this.timer) {
      clearInterval(this.timer)
      this.timer = undefined
    }
  }
}
</script>

<style scoped>
</style>
