<template>
  <div
    style="display: flex; align-items: center; justify-content: center"
  >
    <div>
      <span
        v-if="!emojiOnly"
        class="reaction-wrapper"
        :style="{
          border: `1px solid ${$store.state.colors.darkWhite}`,
          backgroundColor: $store.state.colors.darkGray,
          marginRight: showCount ? '0px' : '4px',
        }"
      >
        {{ reaction.reaction}}
      </span>
      <span
        v-if="!emojiOnly && showCount"
        class="reaction-wrapper"
        :style="{
          border: `1px solid ${$store.state.colors.darkWhite}`,
          backgroundColor: $store.state.colors.darkGray,
        }"
      >
        {{ reaction.count }}
      </span>
    </div>
    <div>
      <span
        v-if="emojiOnly"
        class="reaction-wrapper"
        :style="{
          marginRight: showCount ? '0px' : '4px',
        }"
      >
        {{ reaction.reaction }}
      </span>
      <span
        v-if="emojiOnly && showCount"
        class="reaction-wrapper"
        :style="{
          border: `1px solid ${$store.state.colors.darkWhite}`,
          backgroundColor: $store.state.colors.darkGray,
          marginLeft: 0,
        }"
      >
        {{ reaction.count }}
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

interface Reaction {
  reaction: string
  count: number
}

@Component({
  name: 'Tag',
  props: [ 'reaction', 'showCount' ],
})
export default class Tag extends Vue {
  get emojiOnly() {
    return !/[a-zA-Z0-9]/.test(this.$props.reaction.reaction)
  }
}
</script>

<style scoped>
.reaction-wrapper {
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
}
</style>
