<template>
  <input
    ref="input"
    type="text"
    v-on:input="_onChange"
    :value="value"
    :placeholder="$props.placeholder"
    class="text-input"
    :style="{
      color: $store.state.colors.white,
      backgroundColor: $store.state.colors.darkGray,
      border: `1px solid ${$store.state.colors.darkWhite}`,
      caretColor: $store.state.colors.white,
    }"
    v-on:keydown="onKeyDown"
  />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  name: 'TextField',
  props: [ 'value', 'onChange', 'autofocus', 'onEnter', 'placeholder' ],
})
export default class TextField extends Vue {
  mounted() {
    if (!this.$props.autofocus) return
    ;(this.$refs.input as any).focus()
  }

  onKeyDown(e: any) {
    if (!this.$props.onEnter) return
    if (e.key === 'Enter') {
      this.$props.onEnter(e)
    }
  }

  _onChange(e: any) {
    if (!this.$props.onChange) return
    this.$props.onChange(e)
  }
}
</script>

<style scoped>
.text-input {
  margin: 4px;
  padding: 2px;
  font-size: 16px;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: rgba(75, 83, 98, 1);
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(75, 83, 98, 1);
    opacity: 1;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: rgba(75, 83, 98, 1);
    opacity: 1;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(75, 83, 98, 1);
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(75, 83, 98, 1);
}
*::placeholder {
    /* modern browser */
    color: rgba(75, 83, 98, 1);
}
</style>
