<template>
  <textarea
    v-bind:style="{
      color: $store.state.colors.white,
      backgroundColor: $store.state.colors.darkGray,
      border: `1px solid ${$store.state.colors.darkWhite}`,
      caretColor: $store.state.colors.white,
      ...(height ? { minHeight: `${height}px` } : {}),
    }"
    ref="input"
    class="text-input"
    @drop.prevent="_onDrop"
    @dragover.prevent
    @input="_onChange"
    v-on:keydown="_keydown"
    v-on:keyup="_keyup"
    :value="value"
  />
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import storage from '../logic/storage'

@Component({
  name: 'TextInput',
  props: ['disableAutosize', 'keydown', 'keyup', 'autofocus', 'value', 'onDrop', 'onChange'],
  computed: {
  },
  watch: {
    value: function (newVal, oldVal) {
      if ((this as any).$props.disableAutosize) return
      ;(this as any).calcHeight(newVal)
    }
  }
})
export default class TextInput extends Vue {
  height: number = 0

  mounted() {
    if (!this.$props.disableAutosize) {
      this.calcHeight(this.$props.value)
    }
    if (this.$props.autofocus) {
      (this.$refs.input as any).focus()
    }
  }

  calcHeight(text: string) {
    const el = this.$refs.input as any
    if (!el) return 0
    const div = document.createElement('div')
    div.setAttribute('style', `
      width: ${el.offsetWidth}px;
      font-family: Helvetica, Arial, sans-serif;
      padding: 8px;
    `)
    div.innerText = text
    document.body.append(div)
    const height = div.offsetHeight
    div.remove()
    this.height = height + 100
  }

  _onChange(e: any) {
    if (!this.$props.onChange) return
    this.$props.onChange(e)
  }

  async _onDrop(e: any) {
    e.preventDefault()
    if (!this.$props.onDrop) return
    const { files } = e.dataTransfer
    const [ file ] = files
    const { token } = this.$store.state.users
    const url = await storage.upload(file, token)
    if (!url) return
    const { selectionStart } = this.$refs.input as any
    const img = `<img width="100%" src="${url}" />`
    this.$props.onDrop({
      img,
      inputIndex: selectionStart,
    })
  }

  _keydown(e: any) {
    this.$props.keydown && this.$props.keydown(e)
  }

  _keyup(e: any) {
    this.$props.keyup && this.$props.keyup(e)
  }
}
</script>

<style scoped>
.text-input {
  min-width: 250px;
  padding: 8px;
  margin-top: 0px;
  font-family: Helvetica, Arial, sans-serif;
  width: 95%;
  min-height: 50px;
}
</style>
