<template>
  <div
    :style="{
      borderTop: `1px solid ${$store.state.colors.darkWhite}`,
      paddingTop: '8px',
    }"
    class="transaction-cell"
  >
    <div style="display: flex; flex: 1">
      <div :style="{
        color: incoming ? $store.state.colors.green : $store.state.colors.red,
        ...(pending ? {
          color: $store.state.colors.amber,
          } : {}),
      }">
        {{ incoming ? '+' : '-' }} {{ tx.etherAmount }} ETH
      </div>
      <div style="min-width: 24px; flex: 1" />
      <div v-if="tx.type === 'deposit' || tx.type === 'payout'">
        <a :href="`https://rinkeby.etherscan.io/tx/${tx.transactionId}`" target="_blank">
          tx
        </a>
        {{ tx.type === 'deposit' ? 'from ' : 'to ' }}
        <a :href="`https://rinkeby.etherscan.io/address/${(tx.type === 'deposit' ? tx.from : tx.to)}`" target="_blank">
          {{ (tx.type === 'deposit' ? tx.from : tx.to).slice(0, 15) }}
        </a>
      </div>
      <div v-if="tx.type === 'refund'">
        refund
      </div>
      <div v-if="tx.type === 'payment'">
        subscription 💚
      </div>
      <div v-if="tx.type === 'dividend'">
        dividend from <router-link :to="tx.subscriptionOwner.username">{{ tx.subscriptionOwner.username }}</router-link>
      </div>
      <div v-if="tx.type === 'pending'">
        pending from <router-link :to="tx.subscriptionOwner.username">{{ tx.subscriptionOwner.username }}</router-link>
      </div>
      <div style="min-width: 24px; flex: 1" />
      <div>
        {{ dateString(tx.maturesAt || tx.blockTimestamp) }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import moment from 'moment'

@Component({
  name: 'TransactionCell',
  props: [ 'tx' ],
  computed: {
    pending: function () {
      const _this = this as any
      return _this.$props.tx.type === 'pending'
    },
    incoming: function () {
      const _this = this as any
      return _this.$props.tx.type === 'deposit' ||
              _this.$props.tx.type === 'dividend' ||
              _this.$props.tx.type === 'pending'
    }
  }
})
export default class TransactionCell extends Vue {
  dateString(d: Date) {
    return moment(d).fromNow()
  }
}
</script>

<style scoped>
</style>
