<template>
  <Popup :cancel="cancel">
    <div style="display: flex; flex-direction: column; align-items: center">
      <h2>
        {{ user.username }}
      </h2>
      <div style="display: flex">
        <div :style="{
          backgroundColor: $store.state.colors.noteBackground,
          border: $store.state.colors.noteBorder,
        }" class="bio-cell">
          <div class="markdown" v-bind:style="{
          }" v-html="bio" />
        </div>
      </div>
      <div
        v-if="user._id === $store.state.users.activeUser._id"
        style="display: flex; justify-content: space-around; margin-top: 8px"
      >
        <Button
          v-bind:clicked="showAccount"
          v-bind:style="{
            backgroundColor: $store.state.colors.blue,
            color: $store.state.colors.darkGray,
          }"
          text="View Account"
        />
        <Button
          v-bind:clicked="showEditUser"
          v-bind:style="{
            backgroundColor: $store.state.colors.purple,
            color: $store.state.colors.darkGray,
          }"
          text="Edit Profile"
        />
      </div>
    </div>
  </Popup>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Popup from './Popup'
import Button from './Button'

@Component({
  name: 'UserModal',
  components: { Popup, Button },
  props: [ 'account', 'user', 'cancel' ],
  computed: {},
  watch: {
    user: async function (newVal, oldVal) {
      const _this = this as any
      _this.updateBio()
    }
  }
})
export default class UserModal extends Vue {
  bio: string = ''

  showAccount() {
    this.$router.push('/account')
  }

  showEditUser() {
    this.$router.push('/profile')
  }

  async mounted() {
    await this.updateBio()
  }

  async updateBio() {
    try {
      const placeholder = `## No bio\n\nThis user hasn\'t written a bio!`
      this.bio = await this.$store.dispatch('markdownToHtml', this.$props.user.bio || placeholder)
    } catch (err) {
      console.log(err)
    }
  }
}
</script>

<style scoped>
.bio-cell {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  min-width: 50px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  max-height: 500px;
  text-align: left;
}
</style>
