<template>
  <div :style="{
    backgroundColor: $store.state.colors.noteBackground,
    border: $store.state.colors.noteBorder,
  }" class="home-cell">
    <div style="display: flex; flex-direction: column">
      <TextInput
        :autofocus="true"
        :onChange="$props.onChange"
        :value="$props.value"
        :onDrop="$props.onDrop"
      />
      <div style="display: flex; justify-content: center">
        <Button
          text="Cancel"
          :clicked="$props.onCancel"
        />
        <Button
          text="Save"
          :clicked="$props.onSave"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import TextInput from './TextInput'
import Button from './Button'

@Component({
  name: 'UserEditCell',
  components: { TextInput, Button, },
  props: ['onDrop', 'onChange', 'value', 'onCancel', 'onSave'],
})
export default class UserEditCell extends Vue {}
</script>

<style scoped>
.home-cell {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 4px;
  /* width: 320px; */
  background-color: rgba(220, 190, 0, 0.6);
  border-radius: 4px;
  overflow: hidden;
}
</style>
