<template>
  <div :style="{
    backgroundColor: $store.state.colors.noteBackground,
    border: $store.state.colors.noteBorder,
  }" class="home-cell">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
      <h2 :style="{
        color: $store.state.colors.green,
      }">
        {{ user.username }}
      </h2>
      <Button
        v-if="user._id && $store.state.users.activeUser._id === user._id"
        text="Edit"
        :clicked="editClicked"
      />
      <div :style="{
        height: '1px',
        width: '100%',
        backgroundColor: $store.state.colors.darkWhite,
        margin: '4px',
      }" />
      <div class="markdown" v-bind:style="{
      }" v-html="bio" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Button from './Button'

@Component({
  name: 'UserCell',
  components: { Button },
  props: [ 'user', 'editClicked' ],
  watch: {
    user: function (newVal, oldVal) {
      const _this = this as any
      _this.updateBio()
    }
  }
})
export default class UserCell extends Vue {
  bio: string = ''

  async mounted() {
    await this.updateBio()
  }

  async updateBio() {
    const { user } = this.$props
    if (!user) {
      this.bio = ''
      return
    }
    try {
      const placeholder = `## No bio\n\nThis user hasn\'t written a bio!`
      this.bio = await this.$store.dispatch('markdownToHtml', user.bio || placeholder)
    } catch (err) {
      console.log(err)
    }
  }
}
</script>

<style scoped>
.home-cell {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 4px;
  /* width: 320px; */
  background-color: rgba(220, 190, 0, 0.6);
  border-radius: 4px;
  max-width: 300px;
  min-width: 50px;
  max-height: 450px;
  overflow: hidden;
}
.markdown {
  word-wrap: break-word;
  max-width: 450px;
  min-height: 20px;
  padding-left: 8px;
  padding-right: 8px;
}
</style>
