<template>
  <Popup :cancel="cancel">
    <h2>
      Configure Payout
    </h2>
    <p>
      Enter an address to send earnings to. Earnings are distributed at most once per day. A minimum of 0.03 ETH, or 31 days without withdrawing is required.
    </p>
    <div style="display: flex; align-items: center">
      <TextField
        placeholder="0xEDad0e923920848A4dC052E2E42e9be771aFfC71"
        :onChange="addressChanged"
        :value="address"
      />
      <ColorCircle
        :valid="addressValid"
      />
    </div>
    <p v-if="$store.state.users.account.payoutAddress">
      Payout Address: {{ $store.state.users.account.payoutAddress || 'none' }}
    </p>
    <p v-if="!$store.state.users.account.payoutAddress">
      Payout Address:
      <span :style="{ color: $store.state.colors.red }">
        No address set!
      </span>
    </p>
    <div :style="{
      height: '1px',
      backgroundColor: $store.state.colors.darkWhite,
      marginTop: '8px',
      marginBottom: '8px',
      width: '100%',
    }" />
    <div style="display: flex">
      <input
        type="checkbox"
        @change="(e) => { autorenew = e.target.checked }"
        :checked="autorenew"
      />
      <div style="width: 8px" />
      <div>
        Autorenew your subscription? We'll keep enough Ether in your account to renew.
      </div>
    </div>
    <div style="display: flex">
      <Button
        text="Cancel"
        :style="{
          backgroundColor: $store.state.colors.red,
          color: $store.state.colors.darkGray,
        }"
        :clicked="cancel"
      />
      <Button
        text="Save"
        :style="{
          backgroundColor: $store.state.colors.green,
          color: $store.state.colors.darkGray,
        }"
        :clicked="save"
      />
    </div>
  </Popup>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Popup from './Popup'
import TextField from './TextField'
import Button from './Button'
import ColorCircle from './ColorCircle'

@Component({
  name: 'WithdrawModal',
  components: { Popup, TextField, Button, ColorCircle },
  props: [ 'cancel' ],
})
export default class WithdrawModal extends Vue {
  address = ''
  addressValid = false
  autorenew = false

  async mounted() {
    this.autorenew = this.$store.state.users.account.autorenew
  }

  addressChanged(e: any) {
    this.address = e.target.value
    const addressRegex = /^(0x)?[a-fA-F0-9]{40}$/
    this.addressValid = addressRegex.test(this.address)
  }

  async save() {
    await this.$store.dispatch('updateAccount', {
      payoutAddress: this.address,
      autorenew: this.autorenew,
    })
    this.address = ''
    this.$props.cancel()
  }

}
</script>

<style scoped>
</style>
