<template>
  <div>
    <Header />
    <div class="container">
      <div :style="{
        backgroundColor: $store.state.colors.noteBackground,
        border: $store.state.colors.noteBorder,
      }" class="account-cell">
        <h2 style="text-align: center">Ethereum Account</h2>
        <p>
          This account is just for you. The address won't change.
        </p>
        <div style="display: flex; align-items: center">
          <div style="color: white; background-color: black; padding: 4px; white-space: nowrap; overflow-x: hidden">
            {{ $store.state.users.account.address }}
          </div>
          <Button
            text="Copy"
            loadingText="Copied!"
            :clicked="copyAddress"
            :style="{
              backgroundColor: $store.state.colors.purple,
              color: $store.state.colors.darkGray,
            }"
          />
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between">
          <h3 style="text-align: center">
            Balance: {{ $store.state.users.account.etherAvailableBalance }} ETH
          </h3>
          <Button
            text="Configure"
            :clicked="() => { showingWithdrawModal = true }"
            :style="{
              backgroundColor: $store.state.colors.blue,
              color: $store.state.colors.darkGray,
            }"
          />
        </div>
        <div :style="{
          backgroundColor: $store.state.colors.darkWhite,
          height: '1px',
          width: '100%',
          marginTop: '4px',
          marginBottom: '4px',
        }" />
        <Button
          text="Subscribe"
          v-if="$store.state.users.activeUser._id && !$store.state.users.subscription.active"
          :clicked="() => { showingSubscribeModal = true }"
          :style="{
            backgroundColor: $store.state.colors.purple,
            color: $store.state.colors.darkGray,
          }"
        />
        <div
          v-if="$store.state.users.activeUser._id && $store.state.users.subscription.active"
          style="display: flex; align-items: center; justify-content: space-between"
        >
          <div :style="{
            color: $store.state.colors.green,
          }">
            Subscribed!
          </div>
          <div>
            Expires {{ dateString($store.state.users.subscription.expiresAt) }}
          </div>
        </div>
      </div>
      <div :style="{
        backgroundColor: $store.state.colors.noteBackground,
        border: $store.state.colors.noteBorder,
      }" class="account-cell">
        <div style="display: flex; justify-content: space-between; align-items: center">
          <h2>Transactions</h2>
          <ColorCircle :valid="true" :loading="transactionsLoading" />
        </div>
        <p v-if="!firstLoad && $store.state.users.transactions.length === 0">
          Deposit Ether by sending directly to the address above.
        </p>
        <TransactionCell
          v-if="$store.state.users.transactions.length !== 0"
          v-for="tx of $store.state.users.transactions"
          :key="tx._id"
          :tx="tx"
        />
      </div>
    </div>
    <SubscribeModal
      v-if="showingSubscribeModal"
      :cancel="() => (showingSubscribeModal = false)"
    />
    <WithdrawModal
      v-if="showingWithdrawModal"
      :cancel="() => (showingWithdrawModal = false)"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Header from './components/Header'
import Button from './components/Button'
import ColorCircle from './components/ColorCircle'
import TransactionCell from './components/TransactionCell'
import SubscribeModal from './components/SubscribeModal'
import WithdrawModal from './components/WithdrawModal'
import moment from 'moment'

@Component({
  name: 'AccountPage',
  components: {
    Header,
    Button,
    ColorCircle,
    TransactionCell,
    SubscribeModal,
    WithdrawModal,
  },
})
export default class AccountPage extends Vue {
  timer: any
  firstLoad = true
  transactionsLoading = false
  showingSubscribeModal = false
  showingWithdrawModal = false
  subscriptionRefreshTimer: any

  async mounted() {
    // TODO: move to a higher level
    this.subscriptionRefreshTimer = setInterval(() => {
      this.$store.dispatch('loadActiveUser')
    }, 30000)
    const loadTransactions = async () => {
      try {
        this.transactionsLoading = true
        const { subscriptionActive } = this.$store.state.users.activeUser
        await Promise.all([
          subscriptionActive ? Promise.resolve() : this.$store.dispatch('loadSubscriptionPrice'),
          subscriptionActive ? this.$store.dispatch('loadSubscription') : Promise.resolve(),
          this.$store.dispatch('loadTransactions'),
        ])
        this.transactionsLoading = false
        this.firstLoad = false
      } catch (err) {
        this.transactionsLoading = false
        this.firstLoad = false
        throw err
      }
    }
    loadTransactions()
    this.timer = setInterval(loadTransactions, 15000)
  }

  beforeDestroy() {
    if (this.timer) {
      clearInterval(this.timer)
      this.timer = null
    }
    if (this.subscriptionRefreshTimer) {
      clearInterval(this.subscriptionRefreshTimer)
      this.subscriptionRefreshTimer = null
    }
  }

  async copyAddress() {
    const { address } = this.$store.state.users.account
    const element = document.createElement('textarea')
    element.value = address
    document.body.append(element)
    element.select()
    document.execCommand('copy')
    element.remove()
    await new Promise(r => setTimeout(r, 3000))
  }

  dateString(d: Date) {
    return moment(d).fromNow()
  }
}
</script>

<style scoped>
.transaction-cell {
  margin-top: 4px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
}
.account-cell {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 8px;
  max-width: 80vw;
  min-width: 300px;
  text-align: left;
  border-radius: 4px;
  word-wrap: break-word;
}
</style>
