<template>
  <div v-bind:style="{
    backgroundColor: $store.state.colors.background,
    color: $store.state.colors.color,
  }" id="app">
    <router-view />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  name: 'App',
  metaInfo: function () {
    return {
      title: 'Epoch Rumor',
      link: [
        {
          rel: 'icon',
          type: 'image/png',
          href: `/${require('../static/favicon.png')}`,
        },
      ]
    }
  },
})
export default class App extends Vue {
}
</script>

<style>
body {
  margin: 0px;
}
ins {
  color: rgba(152, 195, 121, 1);
}
del {
  color: rgba(184, 58, 67, 1);
}
a {
  color: rgba(210, 215, 224, 1);
  text-decoration: none;
  font-weight: bold;
}
code {
  max-width: 750px;
  word-wrap: break-word;
}
h1 {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}
h2 {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}
h3 {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}
h4 {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
}
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  font-size: 16px;
  max-width: 750px;
}
</style>
