<template>
  <div>
    <Header />
    <div class="edit-draft-cell container" v-bind:style="{
      backgroundColor: $store.state.colors.lightGray,
    }">
      <div :style="{
        display: 'flex',
        flexDirection: 'column',
        alignItems: 'center',
        backgroundColor: $store.state.colors.gray,
        padding: '8px',
        borderRadius: '4px',
        border: `1px solid ${$store.state.colors.darkWhite}`,
      }">
        <span>
          Draft:
          <input
            type="checkbox"
            @change="draftChanged"
            :checked="$store.state.notes.draftNote.isDraft"
          />
        </span>
        <span>
          Unmonetized:
          <input
            type="checkbox"
            @change="unmonetizedChanged"
            :checked="$store.state.notes.draftNote.isUnmonetized"
          />
        </span>
        <Button
          text="Create Note"
          :clicked="createNote"
          :style="{
            backgroundColor: $store.state.colors.green,
            color: $store.state.colors.gray,
          }"
        />
      </div>
      <NoteEditor
        :textChanged="textChanged"
        :descriptionChanged="descriptionChanged"
        :note="$store.state.notes.draftNote"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Header from './components/Header'
import NoteEditor from './components/NoteEditor'
import Button from './components/Button'

@Component({
  name: 'CreateNote',
  components: {
    Header,
    NoteEditor,
    Button,
  },
})
export default class CreateNote extends Vue {
  async mounted() {
    await this.$store.dispatch('loadDraftNote')
    if (!this.$store.state.notes.draftNote.createdAt) {
      // Generate placeholder data for the draft
      this.$store.commit('draftNote', {
        createdAt: new Date(),
        updatedAt: new Date(),
        index: Math.floor(Math.random() * 100000 + 10000),
        ownerId: this.$store.state.users.activeUser._id,
      })
    }
  }

  draftChanged(e: any) {
    this.$store.commit('draftNote', {
      isDraft: e.target.checked,
    })
  }

  unmonetizedChanged(e: any) {
    this.$store.commit('draftNote', {
      isUnmonetized: e.target.checked,
    })
  }

  textChanged(e: any) {
    this.$store.commit('draftNote', {
      ownerId: this.$store.state.users.activeUser._id,
      text: e.target.value,
    })
  }

  descriptionChanged(e: any) {
    this.$store.commit('draftNote', {
      ownerId: this.$store.state.users.activeUser._id,
      description: e.target.value,
    })
  }

  async createNote() {
    try {
      const note = await this.$store.dispatch('createNote')
      this.$router.push({ path: `/notes/${note.index}` })
    } catch (err) {
      console.log('Error creating note', err)
    }
  }
}
</script>

<style scoped>
.edit-draft-cell {
  display: flex;
  padding: 8px;
  max-width: 90vw;
  min-width: 25vw;
  text-align: left;
  border-radius: 4px;
  justify-content: center;
}
</style>
