<template>
  <div>
    <Header />
    <div class="feed">
      <LoadingIndicator :loading="loading" />
      <div v-if="!loading" class="note-container">
        <NotePreviewCell
          v-for="note of $store.state.notes.drafts"
          :key="note._id"
          :note="note"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Header from './components/Header'
import LoadingIndicator from './components/LoadingIndicator'
import NotePreviewCell from './components/NotePreviewCell'
import axios from 'axios'

@Component({
  name: 'Drafts',
  components: { Header, LoadingIndicator, NotePreviewCell },
})
export default class Drafts extends Vue {
  loading = true

  async mounted() {
    if (this.$store.state.notes.drafts.length) {
      this.loading = false
    }
    try {
      this.loading = true
      await this.$store.dispatch('loadDrafts')
    } catch (err) {

    }
    this.loading = false
  }
}
</script>

<style scoped>
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.note-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
</style>
