<template>
  <div>
    <Header />
    <div class="container" v-bind:style="{
      backgroundColor: $store.state.colors.lightGray,
    }">

    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Header from './components/Header'

@Component({
  name: 'EditUser',
  components: { Header }
})
export default class EditUser extends Vue {

}
</script>

<style scoped>
</style>
