<template>
  <div>
    <Header />
    <div class="edit-draft-cell container" v-bind:style="{
      backgroundColor: $store.state.colors.lightGray,
    }">
      <div :style="{
        display: 'flex',
        flexDirection: 'column',
        alignItems: 'center',
        backgroundColor: $store.state.colors.gray,
        padding: '8px',
        borderRadius: '4px',
        border: `1px solid ${$store.state.colors.darkWhite}`,
      }">
        <span>
          Draft:
          <input
            type="checkbox"
            @change="draftChanged"
            :checked="$store.state.notes.editingNote.isDraft"
          />
        </span>
        <Button
          text="Save Changes"
          v-bind:clicked="updateNote"
          v-bind:style="{
            backgroundColor: $store.state.colors.green,
            color: $store.state.colors.gray,
          }"
        />
      </div>
      <NoteEditor
        v-bind:textChanged="textChanged"
        v-bind:descriptionChanged="descriptionChanged"
        v-bind:note="$store.state.notes.editingNote"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Header from './components/Header'
import NoteEditor from './components/NoteEditor'
import Button from './components/Button'
import { renderNote } from './stores/notes'

@Component({
  name: 'EditNote',
  components: {
    Header,
    NoteEditor,
    Button,
  },
  computed: {
    index: function () {
      return this.$route.params.index
    },
    note: function () {
      const { index } = this as any
      return this.$store.state.notes.notesByIndex[index] || { text: 'Loading...' }
    }
  }
})
export default class EditNote extends Vue {
  note: any
  index: number

  async mounted() {
    this.$store.commit('resetEditNote')
    this.$store.commit('editNote', this.note)
    await this.$store.dispatch('loadNote', this.index)
    this.$store.commit('editNote', this.note)
  }

  async textChanged(e: any) {
    this.$store.commit('editNote', {
      text: e.target.value,
    })
  }

  async descriptionChanged(e: any) {
    this.$store.commit('editNote', {
      description: e.target.value,
    })
  }

  draftChanged(e: any) {
    this.$store.commit('editNote', {
      isDraft: e.target.checked,
    })
  }

  async updateNote() {
    try {
      await this.$store.dispatch('updateNote')
      const { index } = this.$store.state.notes.editingNote
      this.$router.push({ path: `/notes/${index}` })
    } catch (err) {
      console.log('Error updating note', err)
    }
  }
}
</script>

<style scoped>
.edit-draft-cell {
  display: flex;
  padding: 8px;
  max-width: 90vw;
  min-width: 25vw;
  text-align: left;
  border-radius: 4px;
}
</style>
