<template>
  <div>
    <Header />
    <div class="home">
      <LoadingIndicator :loading="loading" />
      <div class="note-container">
        <HomeCell v-if="!loading" />
        <NotePreviewCell
          v-for="note of this.$store.state.notes.notes"
          v-bind:key="note._id"
          v-bind:note="note"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Header from './components/Header'
import NotePreviewCell from './components/NotePreviewCell'
import HomeCell from './components/HomeCell'
import LoadingIndicator from './components/LoadingIndicator'

@Component({
  name: 'Home',
  components: {
    Header,
    NotePreviewCell,
    HomeCell,
    LoadingIndicator,
  },
  metaInfo: {
    title: 'Epoch Rumor',
  },
})
export default class Home extends Vue {
  loading = false

  async mounted() {
    if (this.$store.state.notes.notes.length) {
      return
    }
    this.loading = true
    try {
      await this.$store.dispatch('loadNotes')
    } catch (err) {
      console.log('Error loading notes', err)
    }
    this.loading = false
  }

  async serverPrefetch() {
    await this.$store.dispatch('loadNotes')
  }
}
</script>

<style scoped>
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link {
  align-self: center;
}
.note-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 98vw;
  align-items: flex-end;
  justify-content: center;
}
</style>
