<template>
  <div>
    <Header />
    <div class="container">
      <LoadingIndicator :loading="loading" />
      <NotePreviewCell
        :note="note"
      />
      <NoteCell
        v-if="!loading"
        :note="note"
      />
      <ReactionCell
        :noteId="note._id"
      />
      <div
        class="note-container"
        v-if="!loading"
      >
        <NotePreviewCell
          v-for="_note of relatedNotes"
          :key="_note._id"
          :note="_note"
        />
      </div>
      <div style="height: 30vh" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Header from './components/Header'
import NoteCell from './components/NoteCell'
import LoadingIndicator from './components/LoadingIndicator'
import NotePreviewCell from './components/NotePreviewCell'
import ReactionCell from './components/ReactionCell'

@Component({
  name: 'Note',
  components: {
    NoteCell,
    Header,
    LoadingIndicator,
    NotePreviewCell,
    ReactionCell,
  },
  metaInfo: function () {
    return {
      title: 'A custom note',
      meta: [
        { name: 'twitter:card', content: 'summary', },
        {
          name: 'twitter:site',
          content: '@epochrumor',
        },
        {
          name: 'twitter:title',
          content: (this as any).title,
        },
        {
          name: 'twitter:description',
          content: (this as any).description,
        },
        {
          name: 'twitter:image',
          content: `${this.$store.state.url}/${require('../static/twitter_preview.jpg')}`,
        },
      ],
    }
  },
  computed: {
    index: function () {
      return this.$route.params.index
    },
    note: function () {
      const { index } = this as any
      return this.$store.state.notes.notesByIndex[index] || { text: 'Loading...' }
    }
  }
})
export default class Note extends Vue {
  index: string
  note: any
  loading = false
  relatedNotes = []
  // Twitter meta tag data
  title = ''
  description = ''

  async mounted() {
    if (this.note._id) {
      // TODO: move this to the store
      this.relatedNotes = await this.$store.dispatch('loadRelatedNotes', {
        noteId: this.note._id,
      })
      return
    }
    this.loading = true
    try {
      await this.$store.dispatch('loadNote', this.index)
      this.loading = false
      this.relatedNotes = await this.$store.dispatch('loadRelatedNotes', {
        noteId: this.note._id,
      })
    } catch (err) {
      this.loading = false
      throw err
    }
  }

  async serverPrefetch() {
    await this.$store.dispatch('loadNote', this.index)
    // Calculate the twitter meta tags
    const titleRegex = /#*\s*(.{3,70})/m
    const titleMatch = this.note.description.match(titleRegex)
    if (titleMatch === null || titleMatch.length < 2) {
      this.title = 'No title available'
    } else {
      this.title = titleMatch[1].trim()
    }
    const descriptionRegex = /^(?!#)(.{3,200})/m
    const descMatch = this.note.description.match(descriptionRegex)
    if (descMatch === null || descMatch.length < 2) {
      this.description = 'No description available'
    } else {
      this.description = descMatch[1].trim()
    }
  }
}
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.note-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 98vw;
  align-items: flex-end;
  justify-content: center;
}
</style>
