<template>
  <div>
    <Header />
    <div class="container">
      <NotePreviewCell :note="note" />
      <div class="note-cell" :style="{
        backgroundColor: $store.state.colors.noteBackground,
        border: $store.state.colors.noteBorder,
      }">
        <div
          ref="noteEl"
          class="markdown"
          v-bind:style="{
            fontFamily: $store.state.users.preferences.fontFamily,
          }"
          v-html="this.note.renderedText"
        />
      </div>
      <div style="height: 30vh" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Header from './components/Header'
import NotePreviewCell from './components/NotePreviewCell'

@Component({
  name: 'NoteRevision',
  components: { Header, NotePreviewCell, },
  computed: {
    index: function () {
      return this.$route.params.index
    },
    revIndex: function () {
      return this.$route.params.revindex
    },
    note: function () {
      const _this = this as any
      const revisions = _this.$store.state.notes.revisionsByNoteIndex[_this.index]
      if (!revisions) return {}
      return revisions[_this.revIndex] || {}
    }
  },
})
export default class NoteRevision extends Vue {
  index: number
  revIndex: number

  async mounted() {
    try {
      await this.$store.dispatch('loadNoteRevision', {
        noteIndex: this.index,
        revisionIndex: this.revIndex,
      })
    } catch (err) {

    }
  }

  async serverPrefetch() {
    await this.$store.dispatch('loadNoteRevision', {
      noteIndex: this.index,
      revisionIndex: this.revIndex,
    })
  }
}
</script>

<style scoped>
.note-cell {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 4px;
  max-width: 80vw;
  min-width: 300px;
  text-align: left;
  border-radius: 4px;
  word-wrap: break-word;
  overflow-x: scroll;
}
.markdown {
  word-wrap: break-word;
  max-width: 750px;
  padding-left: 8px;
  padding-right: 8px;
}
</style>
