<template>
  <div>
    <Header />
    <div class="container">
      <div v-for="patch of $store.state.notes.patchesByNoteIndex[index]">
        <div :style="{
          backgroundColor: $store.state.colors.gray,
          margin: '4px',
          marginBottom: '8px',
          padding: '8px',
          display: 'flex',
          maxWidth: '900px',
          width: '80vw',
          flexDirection: 'column',
          borderRadius: '4px',
          border: `1px solid ${$store.state.colors.darkWhite}`,
        }">
          <div style="display: flex">
            <div>
              <h2>
                Revision #{{ patch.index }}
              </h2>
              {{ dateString(patch.createdAt) }}
            </div>
            <div style="flex: 1" />
            <Button
              text="View Revision"
              :style="{
                color: $store.state.colors.blue,
              }"
              :clicked="() => $router.push({ path: `/notes/${index}/revision/${patch.index}`})"
            />
          </div>
          <div :style="{
            height: '1px',
            width: '100%',
            backgroundColor: $store.state.colors.darkWhite,
            marginTop: '4px',
            marginBottom: '4px',
          }" />
          <div style="display: flex; align-items: center; justify-content: space-between">
            <div style="display: flex; flex-direction: column">
              <h3>
                Description
                <span :style="{
                  color: $store.state.colors.green,
                }">
                  +{{ patch.previewAdditions }}
                </span>
                <span :style="{
                  color: $store.state.colors.red,
                }">
                  -{{ patch.previewDeletions }}
                </span>
              </h3>
              <div class="diffs" v-if="patch.descriptionPatch" v-html="patch.descriptionHtml" />
              <div v-if="!patch.descriptionPatch">
                No Change
              </div>
            </div>
          </div>
          <div :style="{
            width: '100%',
            height: '1px',
            backgroundColor: $store.state.colors.darkWhite,
            marginTop: '8px',
            marginBottom: '4px',
          }" />
          <div style="display: flex">
            <div style="display: flex; flex-direction: column">
              <h3>
                Text
                <span :style="{
                  color: $store.state.colors.green,
                }">
                  +{{ patch.textAdditions }}
                </span>
                <span :style="{
                  color: $store.state.colors.red,
                }">
                  -{{ patch.textDeletions }}
                </span>
              </h3>
              <div class="diffs" v-if="patch.textPatch" v-html="patch.textHtml" />
              <div v-if="!patch.textPatch">
                No Change
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Header from './components/Header'
import Button from './components/Button'
import moment from 'moment'

@Component({
  name: 'NoteHistory',
  components: { Header, Button, },
  computed: {
    index: function () {
      return this.$route.params.index
    },
    note: function () {
      const { index } = this as any
      return this.$store.state.notes.notesByIndex[index] || { text: 'Loading...' }
    },
  }
})
export default class NoteHistory extends Vue {
  index: number
  note: any
  async mounted() {
    try {
      await Promise.all([
        this.$store.dispatch('loadNoteHistory', {
          index: this.index,
        }),
        this.$store.dispatch('loadNote', this.index)
      ])
    } catch (err) {
      throw err
    }
  }

  async serverPrefetch() {
    await Promise.all([
      this.$store.dispatch('loadNoteHistory', {
        index: this.index,
      }),
      this.$store.dispatch('loadNote', this.index)
    ])
  }

  dateString(d: Date) {
    return moment(d).fromNow()
  }
}
</script>

<style scoped>
.diffs {
  word-wrap: break-all;
  line-break: anywhere;
}
</style>
