<template>
  <div>
    <Header />
    <div class="feed">
      <LoadingIndicator :loading="loading" />
      <div v-if="!loading" class="note-container">
        <UserCell
          :user="$store.state.users.usersByUsername[username] || {}"
          :editClicked="editUser"
        />
        <UserEditCell
          v-if="editingUser"
          :onChange="bioChanged"
          :value="$store.state.users.editingUser.bio"
          :onSave="saveUser"
          :onCancel="cancelEditing"
          :onDrop="onBioDrop"
        />
        <NotePreviewCell
          v-for="note of $store.state.notes.notesByUsername[username]"
          :key="note._id"
          :note="note"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import Header from './components/Header'
import NotePreviewCell from './components/NotePreviewCell'
import { Note } from './stores/notes'
import UserCell from './components/UserCell'
import { everySecond, clearEverySecond, currentColor } from './logic/colors'
import LoadingIndicator from './components/LoadingIndicator'
import UserEditCell from './components/UserEditCell'

@Component({
  name: 'UserPage',
  components: {
    Header,
    NotePreviewCell,
    UserCell,
    LoadingIndicator,
    UserEditCell,
  },
  computed: {
    username: function () {
      return this.$route.params.username
    }
  },
  watch: {
    username: function (newVal, oldVal) {
      const _this = this as any
      if (newVal === oldVal) {
        return
      }
      _this.load()
    }
  }
})
export default class UserPage extends Vue {
  username: string
  loading = false
  loadingTimer: any
  editingUser = false

  async mounted() {
    await this.load()
  }

  async serverPrefetch() {
    await this.load()
  }

  editUser() {
    this.editingUser = true
    const user = this.$store.state.users.usersByUsername[this.username] || {}
    this.$store.commit('beginEditingUser', user)
  }

  bioChanged(e: any) {
    this.$store.commit('editUser', {
      bio: e.target.value,
    })
    this.$store.commit('addUser', this.$store.state.users.editingUser)
  }

  async onBioDrop(e: { img: string, inputIndex: number }) {
    const text = this.$store.state.users.editingUser.bio || ''
    const { img, inputIndex } = e
    this.$store.commit('editUser', {
      bio: `${text.slice(0, inputIndex)} ${img} ${text.slice(inputIndex)}`
    })
  }

  async saveUser() {
    try {
      await this.$store.dispatch('updateUser', this.$store.state.users.editingUser)
      this.editingUser = false
    } catch (err) {
      // Handle issue
    }
  }

  cancelEditing() {
    this.$store.commit('addUser', this.$store.state.users.editingUserBackup)
    this.editingUser = false
  }

  async load() {
    if (
      !this.$store.state.users.usersByUsername[this.username] ||
      !this.$store.state.notes.notesByUsername[this.username] ||
      !this.$store.state.notes.notesByUsername[this.username].length
    ) {
      this.loading = true
    }
    try {
      const { username } = this
      await Promise.all([
        this.$store.dispatch('loadFeed', {
          usernames: [username],
        }),
        this.$store.dispatch('loadUser', {
          username,
        }),
      ])
      this.loading = false
    } catch (err) {
      this.loading = false
    }
  }
}
</script>

<style scoped>
.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.note-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}
</style>
